# More Basics of Pandas

Last session we introduced Pandas quickly. Now we review the basics of using Pandas, with a more interactive workflow to solidify understanding and facility with this powerful Python toolkit.

## Reviewing Pandas Basics

In [1]:
from pandas import DataFrame
import pandas as pd

In [2]:
import pandas as pd
df = pd.read_csv('DEC_10_SF1_P1_with_ann.csv')

### Basics of indexing in Pandas

The first use of indexing is to use a slice, just like we have done with other Python objects. Below we slice the first 5 index values of the first dimension of the dataframe.

In [3]:
df[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261

The first indexing method is equivalent to usinf the iloc indexing method, which uses the integer based indexing, purely based on the location of the index.

In [8]:
df.iloc[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261

A second way to index is using loc, which uses the labels of the index. Note that this approach includes the second value in the index range, whereas iloc does not.

In [10]:
df.loc[:5]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky",2457

Note that indexing can work for both rows and colums

In [18]:
df.loc[:5,:'Geography']

,Id,Id2,Geography
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky"
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky"
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky"
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky"
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky"
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky"

In [17]:
df.iloc[:5, :3]

,Id,Id2,Geography
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky"
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky"
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky"
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky"
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky"

We can select rows based on their value as well.  Notice that we nest df[df[condition]] to get this result.

In [19]:
df[df['Population'] < 200]

,Id,Id2,Geography,Population
64,1400000US21015980100,21015980100,"Census Tract 9801, Boone County, Kentucky",0
124,1400000US21029980100,21029980100,"Census Tract 9801, Bullitt County, Kentucky",0
203,1400000US21047980100,21047980100,"Census Tract 9801, Christian County, Kentucky",0
255,1400000US21061980100,21061980100,"Census Tract 9801, Edmonson County, Kentucky",8
678,1400000US21111980100,21111980100,"Census Tract 9801, Jefferson County, Kentucky",0
803,1400000US21143980100,21143980100,"Census Tract 9801, Lyon County, Kentucky",0
878,1400000US21163980100,21163980100,"Census Tract 9801, Meade County, Kentucky",9
1053,1400000US21221980100,21221980100,"Census Tract 9801, Trigg County, Kentucky",18
1054,1400000US21221980200,21221980200,"Census Tract 9802, Trigg County, Kentucky",6

In [20]:
df[df['Id2']==21015980100]

,Id,Id2,Geography,Population
64,1400000US21015980100,21015980100,"Census Tract 9801, Boone County, Kentucky",0

Here we show how to set a value of a cell in the table, identifying a specific row by index label, and setting its population, in this case to a None value, which Pandas interprets as a NaN (missing value).

In [21]:
df.loc[688,'Population'] = None

We can filter for values that are Null

In [22]:
df[df['Population'].isnull()]

,Id,Id2,Geography,Population
688,1400000US21115960100,21115960100,"Census Tract 9601, Johnson County, Kentucky",NaN

Or more commonly, filter out the null values.

In [23]:
df[df['Population'].notnull()]

,Id,Id2,Geography,Population
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727.0
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722.0
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016.0
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070.0
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261.0
5,1400000US21001970500,21001970500,"Census Tract 9705, Adair County, Kentucky",2457.0
6,1400000US21001970600,21001970600,"Census Tract 9706, Adair County, Kentucky",1403.0
7,1400000US21003920100,21003920100,"Census Tract 9201, Allen County, Kentucky",3185.0
8,1400000US21003920200,21003920200,"Census Tract 9202, Allen County, Kentucky",2703.0
9,1400000US21003920300,21003920300,"Census Tract 9203, Allen County, Kentucky",4685.0
10,1400000US21003920400,21003920400,"Census Tract 9204, Allen County, Kentucky",4492.0
11,1400000US21003920500,21003920500,"Census Tract 9205, Allen County, Kentucky",1600.0
12,1400000US21003920600,21003920600,"Census Tract 9206, Allen County, Kentucky",3291.0
13,1400000US21005950100,21005950100,"Census Tract 9501, Anderson County, Kentucky",8164.0
14,1400000US21005950201,21005950201,"Census Tract 9502.01, Anderson County, Kentucky",5372.0
15,1400000US21005950202,21005950202,"Census Tract 9502.02, Anderson County, Kentucky",3651.0
16,1400000US21005950300,21005950300,"Census Tract 9503, Anderson County, Kentucky",1969.0
17,1400000US21005950400,21005950400,"Census Tract 9504, Anderson County, Kentucky",2265.0
18,1400000US21007950100,21007950100,"Census Tract 9501, Ballard County, Kentucky",4259.0
19,1400000US21007950200,21007950200,"Census Tract 9502, Ballard County, Kentucky",1494.0
20,1400000US21007950300,21007950300,"Census Tract 9503, Ballard County, Kentucky",2496.0
21,1400000US21009950100,21009950100,"Census Tract 9501, Barren County, Kentucky",3592.0
22,1400000US21009950200,21009950200,"Census Tract 9502, Barren County, Kentucky",3642.0
23,1400000US21009950300,21009950300,"Census Tract 9503, Barren County, Kentucky",3065.0
24,1400000US21009950400,21009950400,"Census Tract 9504, Barren County, Kentucky",5910.0
25,1400000US21009950500,21009950500,"Census Tract 9505, Barren County, Kentucky",3698.0
26,1400000US21009950600,21009950600,"Census Tract 9506, Barren County, Kentucky",5937.0
27,1400000US21009950700,21009950700,"Census Tract 9507, Barren County, Kentucky",5878.0
28,1400000US21009950800,21009950800,"Census Tract 9508, Barren County, Kentucky",3337.0
29,1400000US21009950900,21009950900,"Census Tract 9509, Barren County, Kentucky",3607.0
...,...,...,...,...
1085,1400000US21229930100,21229930100,"Census Tract 9301, Washington County, Kentucky",2767.0
1086,1400000US21229930200,21229930200,"Census Tract 9302, Washington County, Kentucky",6705.0
1087,1400000US21229930300,21229930300,"Census Tract 9303, Washington County, Kentucky",2245.0
1088,1400000US21231920100,21231920100,"Census Tract 9201, Wayne County, Kentucky",4666.0
1089,1400000US21231920200,21231920200,"Census Tract 9202, Wayne County, Kentucky",6121.0
1090,1400000US21231920300,21231920300,"Census Tract 9203, Wayne County, Kentucky",4063.0
1091,1400000US21231920400,21231920400,"Census Tract 9204, Wayne County, Kentucky",3309.0
1092,1400000US21231920700,21231920700,"Census Tract 9207, Wayne County, Kentucky",2654.0
1093,1400000US21233960100,21233960100,"Census Tract 9601, Webster County, Kentucky",4584.0
1094,1400000US21233960200,21233960200,"Census Tract 9602, Webster County, Kentucky",2606.0
1095,1400000US21233960300,21233960300,"Census Tract 9603, Webster County, Kentucky",2435.0
1096,1400000US21233960400,21233960400,"Census Tract 9604, Webster County, Kentucky",3996.0
1097,1400000US21235920100,21235920100,"Census Tract 9201, Whitley County, Kentucky",2692.0
1098,1400000US21235920200,21235920200,"Census Tract 9202, Whitley County, Kentucky",2808.0
1099,1400000US21235920300,21235920300,"Census Tract 9203, Whitley County, Kentucky",6189.0
1100,1400000US21235920400,21235920400,"Census Tract 9204, Whitley County, Kentucky",5899.0
1101,1400000US21235920500,21235920500,"Census Tract 9205, Whitley County, Kentucky",6110.0
1102,1400000US21235920600,21235920600,"Census Tract 9206, Whitley County, Kentucky",5230.0
1103,1400000US21235920700,21235920700,"Census Tract 9207, Whitley County, Kentucky",4730.0
1104,1400000US21235920800,21235920800,"Census Tract 9208, Whitley County, Kentucky",1979.0
1105,1400000US21237930100,21237930100,"Census Tract 9301, Wolfe County, Kentucky",3273.0
1106,1400000US21237930200,21237930200,"Census Tract 9302, Wolfe County, Kentucky",4082.0
1107,1400000US21239050103,21239050103,"Census Tract 501.03, Woodford County, Kentucky",3144.0
1108,1400000US21239050104,21239050104,"Census Tract 501.04, Woodford County, Kentucky",3927.0
1109,1400000US21239050105,21239050105,"Census Tract 501.05, Woodford County, Kentucky",3139.0
1110,1400000US21239050106,21239050106,"Census Tract 501.06, Woodford County, Kentucky",3261.0
1111,1400000US21239050107,21239050107,"Census Tract 501.07, Woodford County, Kentucky",3757.0
1112,1400000US21239050200,21239050200,"Census Tract 502, Woodford County, Kentucky",3533.0
1113,1400000US21239050300,21239050300,"Census Tract 503, Woodford County, Kentucky",1899.0
1114,1400000US21239050400,21239050400,"Census Tract 504, Woodford County, Kentucky",2279.0

Here we find and print records that are in Fayette County, using the str attribute and 'contains' to search for the county name in geodisplay.

In [24]:
df[df['Geography'].str.contains('Fayette County')]

,Id,Id2,Geography,Population
262,1400000US21067000101,21067000101,"Census Tract 1.01, Fayette County, Kentucky",3072.0
263,1400000US21067000102,21067000102,"Census Tract 1.02, Fayette County, Kentucky",1567.0
264,1400000US21067000200,21067000200,"Census Tract 2, Fayette County, Kentucky",3563.0
265,1400000US21067000300,21067000300,"Census Tract 3, Fayette County, Kentucky",3157.0
266,1400000US21067000400,21067000400,"Census Tract 4, Fayette County, Kentucky",1261.0
267,1400000US21067000500,21067000500,"Census Tract 5, Fayette County, Kentucky",3284.0
268,1400000US21067000600,21067000600,"Census Tract 6, Fayette County, Kentucky",4116.0
269,1400000US21067000700,21067000700,"Census Tract 7, Fayette County, Kentucky",2353.0
270,1400000US21067000801,21067000801,"Census Tract 8.01, Fayette County, Kentucky",4094.0
271,1400000US21067000802,21067000802,"Census Tract 8.02, Fayette County, Kentucky",3487.0
272,1400000US21067000900,21067000900,"Census Tract 9, Fayette County, Kentucky",4420.0
273,1400000US21067001000,21067001000,"Census Tract 10, Fayette County, Kentucky",1477.0
274,1400000US21067001100,21067001100,"Census Tract 11, Fayette County, Kentucky",4724.0
275,1400000US21067001300,21067001300,"Census Tract 13, Fayette County, Kentucky",2310.0
276,1400000US21067001400,21067001400,"Census Tract 14, Fayette County, Kentucky",2523.0
277,1400000US21067001500,21067001500,"Census Tract 15, Fayette County, Kentucky",1978.0
278,1400000US21067001600,21067001600,"Census Tract 16, Fayette County, Kentucky",2600.0
279,1400000US21067001700,21067001700,"Census Tract 17, Fayette County, Kentucky",2171.0
280,1400000US21067001800,21067001800,"Census Tract 18, Fayette County, Kentucky",2623.0
281,1400000US21067001900,21067001900,"Census Tract 19, Fayette County, Kentucky",4767.0
282,1400000US21067002001,21067002001,"Census Tract 20.01, Fayette County, Kentucky",5803.0
283,1400000US21067002002,21067002002,"Census Tract 20.02, Fayette County, Kentucky",2271.0
284,1400000US21067002200,21067002200,"Census Tract 22, Fayette County, Kentucky",1581.0
285,1400000US21067002302,21067002302,"Census Tract 23.02, Fayette County, Kentucky",5199.0
286,1400000US21067002303,21067002303,"Census Tract 23.03, Fayette County, Kentucky",4372.0
287,1400000US21067002304,21067002304,"Census Tract 23.04, Fayette County, Kentucky",1938.0
288,1400000US21067002400,21067002400,"Census Tract 24, Fayette County, Kentucky",4061.0
289,1400000US21067002500,21067002500,"Census Tract 25, Fayette County, Kentucky",3448.0
290,1400000US21067002600,21067002600,"Census Tract 26, Fayette County, Kentucky",4992.0
291,1400000US21067002700,21067002700,"Census Tract 27, Fayette County, Kentucky",3732.0
...,...,...,...,...
314,1400000US21067003803,21067003803,"Census Tract 38.03, Fayette County, Kentucky",3156.0
315,1400000US21067003804,21067003804,"Census Tract 38.04, Fayette County, Kentucky",6131.0
316,1400000US21067003906,21067003906,"Census Tract 39.06, Fayette County, Kentucky",4160.0
317,1400000US21067003908,21067003908,"Census Tract 39.08, Fayette County, Kentucky",3937.0
318,1400000US21067003909,21067003909,"Census Tract 39.09, Fayette County, Kentucky",3081.0
319,1400000US21067003910,21067003910,"Census Tract 39.10, Fayette County, Kentucky",1821.0
320,1400000US21067003911,21067003911,"Census Tract 39.11, Fayette County, Kentucky",3543.0
321,1400000US21067003912,21067003912,"Census Tract 39.12, Fayette County, Kentucky",4215.0
322,1400000US21067003913,21067003913,"Census Tract 39.13, Fayette County, Kentucky",5315.0
323,1400000US21067003914,21067003914,"Census Tract 39.14, Fayette County, Kentucky",1975.0
324,1400000US21067003915,21067003915,"Census Tract 39.15, Fayette County, Kentucky",2564.0
325,1400000US21067003916,21067003916,"Census Tract 39.16, Fayette County, Kentucky",501.0
326,1400000US21067003917,21067003917,"Census Tract 39.17, Fayette County, Kentucky",1290.0
327,1400000US21067003918,21067003918,"Census Tract 39.18, Fayette County, Kentucky",2787.0
328,1400000US21067004001,21067004001,"Census Tract 40.01, Fayette County, Kentucky",6308.0
329,1400000US21067004003,21067004003,"Census Tract 40.03, Fayette County, Kentucky",5230.0
330,1400000US21067004005,21067004005,"Census Tract 40.05, Fayette County, Kentucky",1900.0
331,1400000US21067004006,21067004006,"Census Tract 40.06, Fayette County, Kentucky",1123.0
332,1400000US21067004007,21067004007,"Census Tract 40.07, Fayette County, Kentucky",1725.0
333,1400000US21067004103,21067004103,"Census Tract 41.03, Fayette County, Kentucky",1461.0
334,1400000US21067004104,21067004104,"Census Tract 41.04, Fayette County, Kentucky",4372.0
335,1400000US21067004105,21067004105,"Census Tract 41.05, Fayette County, Kentucky",3711.0
336,1400000US21067004106,21067004106,"Census Tract 41.06, Fayette County, Kentucky",4289.0
337,1400000US21067004107,21067004107,"Census Tract 41.07, Fayette County, Kentucky",5267.0
338,1400000US21067004204,21067004204,"Census Tract 42.04, Fayette County, Kentucky",5760.0
339,1400000US21067004205,21067004205,"Census Tract 42.05, Fayette County, Kentucky",6628.0
340,1400000US21067004207,21067004207,"Census Tract 42.07, Fayette County, Kentucky",3855.0
341,1400000US21067004208,21067004208,"Census Tract 42.08, Fayette County, Kentucky",7097.0
342,1400000US21067004209,21067004209,"Census Tract 42.09, Fayette County, Kentucky",3916.0
343,1400000US21067004210,21067004210,"Census Tract 42.10, Fayette County, Kentucky",4207.0

We can find the unique values of a column (not very interesting in this particular case)

We saw last time how to use the str attribute to do string manipulation, such as to create a new column.  We need to explore some more advanced string processing, but let's use a smaller dataframe for that.

In [25]:
df['state'] = df['Geography'].str.split(',').str[2]
df[:5]

,Id,Id2,Geography,Population,state
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727.0,Kentucky
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722.0,Kentucky
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016.0,Kentucky
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070.0,Kentucky
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261.0,Kentucky

In [26]:
df['county'] = df['Geography'].str.split(',').str[1]
df[:5]

,Id,Id2,Geography,Population,state,county
0,1400000US21001970100,21001970100,"Census Tract 9701, Adair County, Kentucky",1727.0,Kentucky,Adair County
1,1400000US21001970200,21001970200,"Census Tract 9702, Adair County, Kentucky",1722.0,Kentucky,Adair County
2,1400000US21001970300,21001970300,"Census Tract 9703, Adair County, Kentucky",3016.0,Kentucky,Adair County
3,1400000US21001970401,21001970401,"Census Tract 9704.01, Adair County, Kentucky",4070.0,Kentucky,Adair County
4,1400000US21001970402,21001970402,"Census Tract 9704.02, Adair County, Kentucky",4261.0,Kentucky,Adair County

In [29]:
len(df['county'].unique())

120

And count how many times each unique value is in the data

In [28]:
df['county'].value_counts()

 Jefferson County     191
 Fayette County        82
 Kenton County         41
 Campbell County       25
 Warren County         24
 Daviess County        23
 Boone County          22
 Hardin County         22
 Pike County           19
 Madison County        19
 Christian County      19
 Bullitt County        18
 McCracken County      17
 Pulaski County        14
 Scott County          14
 Oldham County         14
 Boyd County           13
 Laurel County         13
 Hopkins County        12
 Henderson County      11
 Franklin County       11
 Harlan County         11
 Clark County          10
 Floyd County          10
 Barren County         10
 Graves County          9
 Nelson County          9
 Shelby County          9
 Greenup County         9
 Muhlenberg County      9
                     ...
 Leslie County          3
 Washington County      3
 Pendleton County       3
 Hancock County         3
 Bracken County         3
 Martin County          3
 Metcalfe County        3
 McLean County          3
 Clinton County         3
 Lyon County            3
 Lee County             3
 Bath County            3
 Caldwell County        3
 Jackson County         3
 Carlisle County        3
 Owen County            3
 Carroll County         3
 Wolfe County           2
 Owsley County          2
 Menifee County         2
 Powell County          2
 Fulton County          2
 Elliott County         2
 Gallatin County        2
 Livingston County      2
 Cumberland County      2
 Nicholas County        2
 Trimble County         2
 Hickman County         1
 Robertson County       1
Name: county, dtype: int64

### More complex use of Indexing and String Manipulation -- Cleaning the Bedroom Field in the Craigslist data

In [30]:
import re as re, pandas as pd, numpy as np
cl = pd.read_csv('items.csv')
cl.head()

,neighborhood,title,price,bedrooms,pid,longitude,date,link,latitude,sqft,sourcepage
0,(SOMA / south beach),"1bed + Den, 1bath at Mission Bay",$2895,/ 1br - 950ftÂ² -,4046628359,-122.399663,Sep 4 2013,/sfc/apa/4046628359.html,37.774623,/ 1br - 950ftÂ² -,http://sfbay.craigslist.org/sfc/apa/
1,(SOMA / south beach),Love where you live!,$3354,/ 1br - 710ftÂ² -,4046761563,NaN,Sep 4 2013,/sfc/apa/4046761563.html,NaN,/ 1br - 710ftÂ² -,http://sfbay.craigslist.org/sfc/apa/
2,(inner sunset / UCSF),We Welcome Your Furry Friends! Call Today!,$2865,/ 1br - 644ftÂ² -,4046661504,-122.470727,Sep 4 2013,/sfc/apa/4046661504.html,37.765739,/ 1br - 644ftÂ² -,http://sfbay.craigslist.org/sfc/apa/
3,(financial district),Golden Gateway Commons | 2BR + office townhous...,$5500,/ 2br - 1450ftÂ² -,4036170429,NaN,Sep 4 2013,/sfc/apa/4036170429.html,NaN,/ 2br - 1450ftÂ² -,http://sfbay.craigslist.org/sfc/apa/
4,(lower nob hill),Experience Luxury Living in San Fransisco!,$3892,/ 2br -,4046732678,NaN,Sep 4 2013,/sfc/apa/4046732678.html,NaN,/ 2br -,http://sfbay.craigslist.org/sfc/apa/

This is a worked part of your assignment for this week.  Here is a code snippet that uses some of what we just learned above, and extends it to clean the bedroom field in this data.  Adapting it to clean sqft remains for you to do in the assignment...

Below are three different ways to do this.  The first involves looping over the index of the dataframe, and finding the beginning and end of the substring we are looking for, to isolate the bedrooms value.

In [31]:
for label in cl['bedrooms'].index:
    if isinstance(cl['bedrooms'][label], str) and not pd.isnull(cl['bedrooms'][label]):
        end = cl['bedrooms'][label].find('br')
        if end == -1:
            cl.loc[label,'bedrooms'] = np.nan
        else:
            start = cl['bedrooms'][label].find('/ ') + 2
            cl.loc[label,'bedrooms'] = int(cl['bedrooms'][label][start: end])
cl['bedrooms'][:9]

0      1
1      1
2      1
3      2
4      2
5      1
6    NaN
7      1
8      2
Name: bedrooms, dtype: object

Here is a second way to do this that is much more elegant, and in some ways much simpler since it does not require looping over the index values.  It uses the Series map method to apply an element-wise function.  This is covered briefly on page 133 of Pandas for Data Analysis, and more exensively in online documentation.

In [32]:
cl = pd.read_csv('items.csv')
def clean_br(value):
    if isinstance(value, str):
        end = value.find('br')
        if end == -1:
            return None
        else:
            start = value.find('/') + 2
            return int(value[start:end])
cl['bedrooms'] = cl['bedrooms'].map(clean_br)
cl['bedrooms'][:9]

0    1.0
1    1.0
2    1.0
3    2.0
4    2.0
5    1.0
6    NaN
7    1.0
8    2.0
Name: bedrooms, dtype: float64

The third way to do this is using Regular Expressions (regex).  It is covered on pages 207-210.  It is powerful and concise, but the syntax is more cryptic.

In [33]:
cl = pd.read_csv('items.csv')
for i in cl['bedrooms'].index:
    r = re.search('(?<=\/ )(.*)(?=br)', cl.loc[i,'bedrooms'])
    cl.loc[i,'bedrooms'] = r.group(0) if r else np.nan

cl['bedrooms'][:9]

0      1
1      1
2      1
3      2
4      2
5      1
6    NaN
7      1
8      2
Name: bedrooms, dtype: object

## Working with Pandas -- an in-class working session

OK, let's create a DataFrame from a dictionary, following the example on pg 116 of Python for Data Analysis (PDA).

In [34]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = DataFrame(data)

Explain the contents and structure of 'data'

What does 'DataFrame(data)' do? What if we did not begin that line with 'df ='?

Look at the contents of df, using just df by itself, and 'print df'.

In [35]:
df

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

We can refer to a column in two ways:

In [36]:
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [37]:
df.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

We can step through the rows in a dataframe

In [38]:
for label in df.state.index:
    print(df.state[label])

Ohio
Ohio
Ohio
Nevada
Nevada

And find the index value within each entry of a specific substring

In [ ]:
for label in df.state.index:
    print(df.state[label].find('io'))

In [ ]:
for label in df.state.index:
    if df.state[label]=='Ohio':
        print(df.state[label])
    else:
        print('Missing')

## Now Your Turn

Below are a series of questions, with the answers remaining for you to fill in by using pandas expressions that draw on the methods in Chapter 5.  You should not need to use anything more than the content of this chapter -- a subset of the methods summarized above, to do this exercise.  Hopefully you can complete it within class if you've been keeping up with the reading.

How can we get a quick statistical profile of all the numeric columns?

Can you get a profile of a column that is not numeric, like state? Try it.

How can we print the data types of each column?

How can we print just the column containing state names?

How can we get a list of the states in the DataFrame, without duplicates?

How can we get a count of how many rows we have in each state?

How can we compute the mean of population across all the rows?

How can we compute the maximum population across all the rows?

How can we compute the 20th percentile value of population?

How can we compute a Boolean array indicating whether the state is 'Ohio'?

How can we select and print just the rows for Ohio?

How can we create a new DataFrame containing only the Ohio records?

How can we select and print just the rows in which population is more than 2?

How could we compute the mean of population that is in Ohio, averaging across years?

How can we print the DataFrame, sorted by State and within State, by Population?

How can we print the row for Ohio, 2002, selecting on its values (not on row and column indexes)?

How can we use row and column indexing to set the population of Ohio in 2002 to 3.4?

How can we use row and column indexing to append a new record for Utah, initially with no population or year?

How can we set the population to 2.5 and year to 2001 for the new record?